@media only screen and (max-width: 1300px) {

    form {
        width: 33.33%;
    }
}

@media only screen and (max-width: 1150px) {

    form {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {

    .input {
        width: 80px;
    }

    .input-focused {
        width: 110px;
    }
}

@media only screen and (max-width: 600px) {

    h1 {
        @include fontSize(25);
        padding: 25px;
    }


    h3,
    h2,
    i.fa-plus,
    li,
    input {
        @include fontSize(25);
    }


    form {
        width: 100%;
    }

}

@media only screen and (max-width: 400px) {

    .input {
        width: 50px;
    }

    .input-focused {
        width: 75px;
    }
}