@import 'setup';
@import 'utils';

// set up styles

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $whiteSmoke;
}

// landing page styles

h1 {
    @include fontSize(65);
    font-family: 'Calligraffitti', cursive;
    padding-top: 50px;
    margin: 0;
    text-align: center;
    color: $whiteSmoke;
}

header {
    height: 100vh;
    background-image: url("../images/julien-pianetti-230463-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    position: relative;
    top: 15%;
    background-color: $transparentTeal;
    transform: skewY(-7deg);
    transform-origin: top left;
    filter: drop-shadow(-5px -8px 11px #c3c3c3);
    margin-bottom: 50px;
}

.login {
    display: flex;
    justify-content: center;
}

button.loginButton,
button.logoutButton {
    margin-top: 50px;
    padding: 20px;
    background-color: $transparentTeal;
    color: $whiteSmoke;
    border: none;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: 0.3s;
    &:hover {
        border-radius: 30px;
    }
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

h3 {
    color: $teal;
    @include fontSize(40);
    font-style: italic;
}


// landing page styles end

.wrapper {
    max-width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

h2,
i.fa-plus,
li,
input[type=text] {
    text-transform: uppercase;
    color: $blueyPurple;
}

h2,
li,
input,
button {
    @include fontSize(25); 
}

ul {
    margin: 0;
    padding: 0;
}

li {
    @include fontSize(20);
    list-style: none;
    font-weight: 400;
}

main {
    background-color: $whiteSmoke;
}

input[type=text] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px dotted $beige;
}

form {
    min-width: 25%;
}

li {
    margin-bottom: 15px;
}

button.add {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $whiteSmoke;
}

.input {
  transition: width .35s linear;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 150px;
  background-color: $beige;
}

.input-focused {
  width: 200px;
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
}

input[type=checkbox] + label:before {
  content: "\2714";
  @include fontSize(15);
  border: 0.2rem solid $teal;
  border-radius: 0.2rem;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 1rem;
  padding-bottom: 0.3rem;
  margin-right: 0.2rem;
  vertical-align: bottom;
  color: transparent;
  transition: 0.7s;
  z-index:5;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: $teal;
  border-color: $teal;
  color: $whiteSmoke;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: $teal;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: $teal;
  border-color: $teal;
}

.groceryItem {
    display: flex;
    padding: 5px;
    max-width: 65%;
}

// media queries

@media only screen and (max-width: 1300px) {

    form {
        width: 33.33%;
    }
}

@media only screen and (max-width: 1150px) {

    form {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {

    .input {
        width: 80px;
    }

    .input-focused {
        width: 110px;
    }
}

@media only screen and (max-width: 600px) {

    h1 {
        @include fontSize(25);
        padding: 25px;
    }


    h3,
    h2,
    i.fa-plus,
    li,
    input {
        @include fontSize(25);
    }


    form {
        width: 100%;
    }

}

@media only screen and (max-width: 415px) {

    h1 {
        @include fontSize(50);
    }

    button.loginButton {
        margin-top: 75px;
    }

    .input {
        width: 50px;
    }

    .input-focused {
        width: 75px;
    }
}

@media only screen and (max-width: 320px) {

    h1 {
        padding: 15px;
        @include fontSize(45);
    }

    button.loginButton {
        padding: 5px;
    }

}
